{% extends 'base.html' %} {% block title %} Dashbaord {% endblock %} 
{% block body %}
<!-- Main content -->
<main class="flex-1 p-5 overflow-hidden overflow-y-scroll">
  <!-- Welcome message div -->
  <div class="">
    <h1 class="text-2xl font-semibold mb-2">
      Welcome,
      <span class="text-red-500"
        >{{authenticated_employee.first_name}}
        {{authenticated_employee.last_name}}</span
      >!
    </h1>
    <p class="text-gray-600">
      As a valued member of our management team, your insights drive success.
      Let's achieve great things together!
    </p>
  </div>

  {% for permission in authenticated_employee.permissions %} {% for key, value
  in permission.items %} {% if key == "dashboard_card_view" and value == True %}
  <div class="flex justify-center items-center my-5">
    <div
      class="w-full bg-white p-6 rounded-lg shadow-md flex flex-col md:flex-row md:space-x-4"
    >
      <div class="w-full md:w-1/4 bg-gray-100 p-4 rounded-lg mb-4 md:mb-0">
        <h3 class="text-lg font-semibold mb-2">Total Expense</h3>
        <p class="text-red-500 text-xl font-semibold">$150,000</p>
      </div>
      <div class="w-full md:w-1/4 bg-gray-100 p-4 rounded-lg mb-4 md:mb-0">
        <h3 class="text-lg font-semibold mb-2">Total Patients</h3>
        <p class="text-red-500 text-xl font-semibold">120</p>
      </div>
      <div class="w-full md:w-1/4 bg-gray-100 p-4 rounded-lg mb-4 md:mb-0">
        <h3 class="text-lg font-semibold mb-2">Reports</h3>
        <p class="text-red-500 text-xl font-semibold">80</p>
      </div>
      <div class="w-full md:w-1/4 bg-gray-100 p-4 rounded-lg">
        <h3 class="text-lg font-semibold mb-2">Profit</h3>
        <p class="text-red-500 text-xl font-semibold">$50,000</p>
      </div>
    </div>
  </div>
  {% endif %} {% endfor %} 

  <div class="flex justify-center items-center my-5">
    <div
      class="w-full bg-white p-6 rounded-lg shadow-md flex flex-col md:flex-row md:space-x-4"
    >
      <div
        class="w-full h-full md:w-2/5 bg-gray-100 p-4 rounded-lg mb-4 md:mb-0 h-auto"
      >
        <div class="container mx-auto p-4">
          <form action="{% url 'add_patient' %}" method="post" class="bg-white p-6 rounded shadow-md">
            {% csrf_token %}
            <h2 class="text-2xl font-semibold mb-4">Patient Information</h2>
            <div class="mb-4">
              <label for="fname" class="block font-medium">Firstname</label>
              <input
                type="text"
                id="fname"
                name="fname"
                class="w-full px-4 py-2 border rounded"
                placeholder="Jhon"
              />
            </div>
            <div class="mb-4">
              <label for="lname" class="block font-medium">Lastname</label>
              <input
                type="text"
                id="lname"
                name="lname"
                class="w-full px-4 py-2 border rounded"
                placeholder="Doe"
              />
            </div>
            <div class="mb-4">
              <label for="age" class="block font-medium">Age</label>
              <input
                type="number"
                id="age"
                name="age"
                class="w-full px-4 py-2 border rounded"
                placeholder="18"
              />
            </div>
            <div class="mb-4">
              <label for="mobile" class="block font-medium">Mobile</label>
              <input
                type="number"
                id="mobile"
                name="mobile"
                class="w-full px-4 py-2 border rounded"
                placeholder="XXX-XXXX-XXXX"
              />
            </div>
            <div class="mb-4">
              <label for="tp" class="block font-medium">Total Payment</label>
              <input
                type="number"
                id="tp"
                name="total-payment"
                class="w-full px-4 py-2 border rounded"
                placeholder="₹500"
              />
            </div>
            <div class="mb-4">
              <label for="pp" class="block font-medium">Paid Payment</label>
              <input
                type="number"
                id="pp"
                name="paid-payment"
                class="w-full px-4 py-2 border rounded"
                placeholder="₹200"
              />
            </div>
            <div class="mb-4">
              <label for="condition" class="block font-medium">Condition</label>
              <textarea
                id="condition"
                name="condition"
                class="w-full px-4 py-2 border rounded"
                placeholder="Add comment..."
              ></textarea>
            </div>
            <button
              type="submit"
              class="bg-red-500 text-white px-4 py-2 rounded hover:bg-gray-100 hover:text-gray-800"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
      <div
        class="w-full md:w-3/5 h-full bg-gray-100 p-4 rounded-lg mb-4 md:mb-0"
      >
        <h3 class="text-lg font-semibold mb-2">
          Today's patient</a>
        </h3>
        <h3 class="text-center text-red-500">{{current_date}} - {{current_day}}</h3>
        <div class="container mx-auto p-4">
          <div
            class="max-w-screen-md mx-auto bg-white shadow-md overflow-hidden"
          >
            <div class="overflow-x-auto">
              <table class="min-w-full table-auto rounded-lg">
                <thead>
                  <tr class="bg-gray-100 rounded">
                    <th class="py-2 px-4 border">Name</th>
                    <th class="py-2 px-4 border">Mobile</th>
                    <th class="py-2 px-4 border">Payment Status</th>
                    <th class="py-2 px-4 border">Condition</th>

                  </tr>
                </thead>
                <tbody>
                  {% if data %}
                      {% for item in data %}
                      <tr class="bg-white hover:bg-gray-100">
                          <td class="py-2 px-4 border">
                              <a href="{% url 'patient_details_view' %}">{{ item.patient_name|title }}</a>
                          </td>
                          <td class="py-2 px-4 border">
                              {{ item.mobile_number }}
                          </td>
                          {% if item.payment_status == 'paid' %}
                          <td class="py-2 px-4 border text-green-500">{{ item.payment_status|title }}</td>
                          {% elif item.payment_status == 'partial' %}
                          <td class="py-2 px-4 border text-yellow-500">{{ item.payment_status|title }}</td>
                          {% elif item.payment_status == 'pending' %}
                          <td class="py-2 px-4 border text-red-500">{{ item.payment_status|title }}</td>
                          {% endif %}
                          <td class="py-2 px-4 border whitespace-nowrap overflow-ellipsis">{{ item.conditions }}</td>
                      </tr>
                      {% endfor %}
                  {% else %}
                      <!-- Display a message when data is empty -->
                      <tr>
                          <td colspan="4" class="text-2xl font-semibold py-4 text-center">Data not found</td>
                      </tr>
                  {% endif %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Replace this with the actual code to fetch the user's name
    const user = {
      firstName: "John",
      lastName: "Doe",
    };

    // Update the user's name in the welcome message
    const userNameElement = document.getElementById("user-name");
    userNameElement.textContent = `${user.firstName} ${user.lastName}`;
  </script>
</main>
<!-- End main content -->
{% endblock %}
