{% extends 'base.html' %}
{% block title %}
Dashbaord
{% endblock %}
{% block body %}
<!-- Main content -->
<main class="flex-1 p-5 overflow-hidden overflow-y-scroll">
  <p class="text-gray-500">Dashboard &rarr; <span class="text-red-500">Patients</span></p>
  <div class="container mx-auto p-4">
    <input id="searchInput" type="text" class="w-full px-4 py-2 border rounded mb-4" placeholder="Search patient data">

    <table class="min-w-full">
      <thead>
        <tr class="bg-gray-100">
          <th class="py-2 px-4 border">Name</th>
          <th class="py-2 px-4 border">Mobile</th>
          <th class="py-2 px-4 border">Age</th>
          <th class="py-2 px-4 border">Condition</th>
        </tr>
      </thead>
      <tbody id="patientTable">
        <!-- Add patient data rows here -->
      </tbody>
    </table>
  </div>

  <script>
    const searchInput = document.getElementById('searchInput');
    const patientTable = document.getElementById('patientTable');

    const patientData = JSON.parse('{{ patient_data_json|escapejs }}');
    console.log('{{ patient_data_json|escapejs }}');
    searchInput.addEventListener('input', () => {
      const searchTerm = searchInput.value.toLowerCase();
      const filteredData = patientData.filter(patient =>
        patient.name.toLowerCase().includes(searchTerm) ||
        patient.condition.toLowerCase().includes(searchTerm)
      );

      renderTable(filteredData);
    });

    function renderTable(data) {
      patientTable.innerHTML = '';
      data.forEach(patient => {
        const row = `
          <tr class="bg-white">
            <td class="py-2 px-4 border"><a href="">${patient.name}</a></td>
            <td class="py-2 px-4 border">${patient.mobile}</td>
            <td class="py-2 px-4 border">${patient.age}</td>
            <td class="py-2 px-4 border">${patient.condition}</td>
          </tr>
        `;
        patientTable.innerHTML += row;
      });
    }

    // Initial rendering
    renderTable(patientData);
  </script>
</main>
<!-- End main content -->
{% endblock %}