{% extends 'base.html' %} {% block title %} Dashbaord {% endblock %} 
{% block body %}
<main class="flex-1 p-5 overflow-hidden overflow-y-scroll">
  <p class="text-gray-500">
    Dashboard &rarr; Patient &rarr; <span class="text-red-500"> Details</span>
  </p>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <!-- Section Title -->
    <h1 class="text-xl font-semibold">Patient Details</h1>
    <hr class="my-4" />
    <h1 class="text-3xl font-semibold text-red-500 mb-2">
      John Doe <span class="text-gray-400">( Male )</span>
    </h1>
    <div class="bg-white p-4 rounded-lg">
      <table class="table-auto">
        <tbody>
          <tr>
            <td class="pr-4 py-2 font-semibold">Mobile:</td>
            <td class="py-2">(+91) 898 0145 007</td>
          </tr>
          <tr>
            <td class="pr-4 py-2 font-semibold">Age:</td>
            <td class="py-2">30</td>
          </tr>
          <tr>
            <td class="pr-4 py-2 font-semibold">Gender:</td>
            <td class="py-2">Male</td>
          </tr>
          <tr>
            <td class="pr-4 py-2 font-semibold">Address:</td>
            <td class="py-2">123 Main St</td>
          </tr>
          <tr>
            <td class="pr-4 py-2 font-semibold">City:</td>
            <td class="py-2">Anytown</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Patient Information Grid -->
    <section class="text-gray-400 body-font">
      <h1 class="text-xl font-semibold">Medical History</h1>
      <hr class="my-4" />
      <div class="container px-5 py-5 mx-auto flex flex-wrap">
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-red-500 text-white relative z-10 title-font font-medium text-sm"
          >
            2
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2
                class="inline-block font-medium title-font text-gray-900 text-xl"
              >
                Lab Results - Blood Test
              </h2>
              <p class="inline-block">[ September 5, 2023 ]</p>
              <p class="leading-relaxed">
                <strong>Doctor:</strong> Dr. Smith
                <br />
                <strong>Payment Status:</strong> Paid
                <br />
                <strong>Paid Amount:</strong> $200
              </p>
            </div>
          </div>
        </div>
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-red-500 text-white relative z-10 title-font font-medium text-sm"
          >
            1
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2
                class="inline-block font-medium title-font text-gray-900 text-xl"
              >
                Radiology - X-ray
              </h2>
              <p class="inline-block">[ August 12, 2023 ]</p>
              <p class="leading-relaxed">
                <strong>Doctor:</strong> Dr. Smith
                <br />
                <strong>Payment Status:</strong> Paid
                <br />
                <strong>Paid Amount:</strong> $200
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
